@import url(https://fonts.googleapis.com/css?family=Roboto:700);

h1 {
	text-align: center;
	
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #A2A3BB;
	color: #251351;
}

.nav {
	background-color: #735D78;
	font-size: 18px;
	margin-top: 40px;
	margin-bottom: 40px; 
}

.nav li {
	padding: 60px;
	display: inline;
}

.nav ul {
	margin: 15px;
	text-align: center;
	list-style-type: none;
}

.button {
	margin-top: 20px;
	margin: auto;
	text-align: center;
}

.modal {
	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);

}

@media (max-width: 768px) {
  .modal {    
    height: 100vh;
    width: 100vw;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
    transition: 0.5s;
    padding: 15px;
  }
}

.is-hidden {
  display: none;
}

.fade-out {
    -webkit-animation: fadeOut 0.5s ease-in 1 forwards;
    animation: fadeOut 0.5s ease-in 1 forwards;
    opacity: 1;
}

.is-paused {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}


.close {
	color: green;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}

.modal-body {
	padding: 2px 16px;
}

.modal-footer {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.5s;
	animation-name: animatetop;
	animation-duration: 0.5s;
}

@-webkit-keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

@keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

@-webkit-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@media (max-width: 768px) {
  .fade-out {    
    height: 100vh;
    width: 100vw;
  }
}





